html {
    background-color: lightgray;
    font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, p, ul, li {
    margin: 0;
}

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background-color: white;
    font-weight: bold;
}

section:not(:first-child){
    margin-top: 30px;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 0.5em;
}


h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.0em;
    text-decoration: underline;
}

p {
    font-size: 1.0em;
    margin: 5px;
}

ul {
    margin-bottom: 10px;
}

li {
    list-style: none;
    margin-bottom: 3px;
}

li.item {
    cursor: pointer;
}


.detail {
    display: none;
    margin-left: 20px;
    margin-bottom: 20px;
}

.active {
    display: block;
}

